@import "../../styles/_bootstrap_variables.scss";

.cool-bar {
  background-color: $brand-success;
  padding: 1em;
  border-radius: $border-radius;
  color: $gray-lightest;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.border-left {
	border-style: solid;
    border-left: thick double #ff00;
}

.channel-img {
	height: 100px;
	width: 200px;
}
